<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title class='my-title'><%= title %></title>
	
	<link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
	<link rel="stylesheet" href="/stylesheets/jquery.dataTables.min.css">
	<link rel="stylesheet" href="/stylesheets/styles.css">

	<style>
	.my-title{
		font-size: 30px;
	}
	.my-button{
		padding: 3px 8px;
	}
	th{
		cursor: pointer;
	}
	td:nth-child(3){
		min-width: 120px;
	}
	td:nth-child(3){
		max-width:400px;
	}
	th, td:nth-child(1),td:nth-child(2),td:nth-child(7){
		word-break: keep-all;
	}
	td:nth-child(7){
		line-height:20px;
	}
	td:nth-child(1), td:nth-child(2),td:nth-child(7),td:nth-child(8),td:nth-child(9),td:nth-child(10){
		text-align: right;
	}
	#loading {
		position: fixed;
		background-color: rgba(128,128,128,0.5);
		width: 100vw;
		height: 100vh;
		z-index: 100;
		top:0px;
		right:0px;
	}
	#loading div{
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		width: 240px;
		height: 24px;
		border: 1px solid #888;
		border-radius: 10px;
		background: #fefefe;
		font-size: 20px;
		padding: 20px;
		text-align: center;
		box-sizing: content-box;
		box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
	}
	.fake_thead{
		vertical-align: bottom;
		font-size: 24px;
	}
	.result-table-func-wrap{
		text-align:center;
	}
	#index_table{
		margin:20px 0 ;
	}
	#index_table td{
		padding:5px;
		text-align:center;
	}
	#index_table td img{
		width:100px;
	}
	</style>
</head>
<body>
<div class="page-wrapper">
	<!--div class="input-field-wrap">
		<div class="form-wrap">
			<div class="form-row">
				<span class='my-title'><%= title %></span>
			</div>
			<div class="form-row">
				<a href="#"  id='search_time' class="btn btn-darkblue btn-wide">查詢</a>
			</div>
			<div class="form-row">	
			</div>
		</div>
	</div--><!-- /.input-field-wrap -->

	<div class="search-result-wrap" style="display:none;">
		<table id='index_table'>
			<tr>
				<td>
					<a href='/?type=conversation'>
						<img src="/images/conversation_icon.png"  />
					</a>
				</td>
				<td>
					<a href='/?type=call_manager'>
						<img src="/images/call_manager_icon.png"  />
					</a>
				</td>
				<td>
					<a href='/?type=over_30'>
						<img src="/images/over_30_icon.png"  />
					</a>
				</td>
				<td>
					<a href='/?type=send_picture'>
						<img src="/images/send_picture_icon.png"  />
					</a>
				</td>
				<td>
					<a href='/statistic'>
						<img src="/images/statistic_icon.png"  />
					</a>
				</td>
			</tr>
		</table>
		<!--div style='text-align:center;margin-top:16px;' class="my-title"><%= title %></div-->
		<div style='text-align:center;margin-top:16px;' class="my-title"></div>
		<div class="result-table-func-wrap" >
			<span class='fake_thead' id='data_amount'>共0筆</span>
			<!--div class="result-item-display">
				顯示
				<select name="" id="select">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="100">100</option>
					<option value="400">400</option>
				</select> 項結果
			</div--><!-- /.result-item-display -->
			<div class="result-item-search">
				<!--button id='over_all' class='my-button'>最前面</button-->
				<button id='last_page' class='my-button'>◀上一頁</button>
				<span id='page_number' style='margin:0px 10px;'>1</span>
				<button id='next_page' class='my-button'>下一頁▶</button>
			</div><!-- /.result-item-search -->
		</div><!-- /.result-table-func-wrap -->
		<div id="table_container">
			<table id='example'></table>
		</div>
	</div><!-- /.search-result-wrap -->
</div><!-- /.page-wrapper -->

<script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/javascripts/scripts.js"></script>

<script>

let limit = 200;
let page = 0;
let query_url = "";



function fetch_and_draw(){
	console.log(query_url);
	loading();
	$.ajax({
		type : "GET",
		dataType: "json",
		url : query_url,
		cache : false,
		data : function(){
		},
		success: function(json_data) {
			console.log("2nd↑query");
			console.log(json_data);
			global_var = json_data.data;
			
			let dest_plain_table = [];//JSON.parse(data);
			//let three_days = new Date().getTime()-1000*3600*24*3 ;
			let three_days = new Date().getTime()-1000*3600*24*60*3 ;
			if("<%= title %>"=="fb_query_conversations"){
				$(".my-title").html("對話總覽");
				for(let i=0;i<json_data.data.length;i++){
					item = json_data.data[i];
					if(new Date(item.updated_time).getTime()>three_days){				
						dest_plain_table.push({
							"-":(i+1+limit*page),
							//"id":item.id,
							"對象":item.participants.data[0].name+"&nbsp;("+"<a target='_blank' href='https://www.facebook.com/profile.php?id="+item.id.replace("t_","")+"'>主頁)</a>",
							"最後對話":item.snippet,
							"對話":"<a target='_blank' href='/?type=conversation&conversation="+item.id+"'>詳細對話</a>",
							"訊息數":item.message_count,
							"最後對話時間":new Date(new Date(item.updated_time).getTime()+1000*3600*8).toISOString().replace("T","<br>").split(".")[0],
							//"can_reply":item.can_reply,
							//"is_subscribed":item.is_subscribed,
							"後臺連結":"<a target='_blank' href='https://www.facebook.com/TOYOTA.Taiwan/messages/?threadid="+item.id.replace("t_","")+"'>舊版後台</a>"
										+"<br>"
										+"<a target='_blank' href='https://www.facebook.com"+item.link+"'>新版後台</a>"
						});
					}
				}
			}else{
				$(".my-title").html("與某人的對話紀錄&nbsp;<a href='/?type=conversation'>回收件匣</a>");
				for(let i=0;i<json_data.data.length;i++){
					item = json_data.data[i];
					if(new Date(item.created_time).getTime()>three_days){				
						dest_plain_table.push({
							"-":(i+1+limit*page),
							"傳遞方向":item.from.name+" => "+item.to.data[0].name,
							"文字訊息":item.message,
							//"attachments":item.attachments? JSON.stringify(item.attachments, null, 1).replace(/\n /g,"<br>&nbsp;&nbsp;&nbsp;&nbsp;"):"",
							"時間":new Date(new Date(item.created_time).getTime()+1000*3600*8).toISOString().replace("T","<br>").split(".")[0]
						});
					}
				}
			}
			$("#data_amount").html(
				(limit==-1?"共"+dest_plain_table.length+"筆":"")
			);
			$("#page_number").html(1+page);
			$("#last_page").prop('disabled', page==0 );
			$("#last_page").val(json_data.paging.previous);
			$("#next_page").prop('disabled', dest_plain_table.length!=200);
			$("#next_page").val(json_data.paging.next);
			$("#over_all").val(json_data.paging.cursors.before);
			
			$("#table_container").html(plain_table(dest_plain_table));
			$(".search-result-wrap").show();
			loading('over');
		}
		,error: function (jqXHR, textStatus, errorThrown) {
			loading('get error: '+jqXHR.responseText);
			warningMsg("錯誤","發生異常錯誤，請通知系統管理員。");
		}
	});
}
$(function(){

	let token = "EAALpVBlT1GMBAGFnHyi1MAEWGz5TGYl7CZBPNzrUFZAbtu2fW4WwKZBp6sseDQc"
					+"QEHhXfwJTDqk5dJSrNZCqeQFJZCbVl8w3U1t4zttGLm5TP6KKxZBKUB24U"
					+"c9zpixQ31K6jFxFAqVx6fvATcl4AgEZBSbQZAptRnYxLVMjxH8owQZDZD";
	//conversation_id = 248954465174600
	query_url="https://graph.facebook.com/v2.0/<%= item_id %>/<%= type %>"
				+"?method=GET&format=json"
				+"&fields=<%= fields %>"
				+"&limit=200&access_token="+token

	fetch_and_draw();
	
	/*
	//先爬normal 再爬第一頁 後來好像不知為何不會漏資料 就不用了
	
	query_url = "https://graph.facebook.com/v2.0/248954465174600/conversations"
				+"?method=GET&format=json&access_token="+token
				+"&before="+$(this).val();
	
	$.ajax({
		type : "GET",
		dataType: "json",
		url : "https://graph.facebook.com/v2.0/248954465174600/conversations"
				+"?method=GET&format=json"
				+"&access_token="+token,
		cache : false,
		success: function(json_data) {
			console.log("1st query");
			console.log(json_data);
			query_url = 
				"https://graph.facebook.com/v2.0/248954465174600/conversations"
				+"?method=GET&format=json&access_token="+token
				+"&limit=100"
				//+"&after="+json_data.paging.cursors.before;
				
			fetch_and_draw();
		}
	});*/
	$("#next_page").click(function(e){

		page++;
		query_url = $(this).val();
		fetch_and_draw();
	});
	
	$("#last_page").click(function(e){

		page--;
		query_url = $(this).val();
		fetch_and_draw();
	});
	
	$("#select").change(function() {
		
		limit=+$(this).val();
		query_url = "https://graph.facebook.com/v2.0/<%= item_id %>/<%= type %>"
					+"?method=GET&format=json&access_token="+token
					+"&limit="+limit
					+"&since="+Math.round(Date.now()*0.001);
		page=0;
		fetch_and_draw();
	});
});


function plain_table(obj){
	var html ="";
	if(Array.isArray(obj)){
		if(obj.length==0){
			warningMsg("警告","無資料");
		}else{
			let obj_keys = Object.keys(obj[0])
			html += "<table id='table' class='result-table'><thead><tr>";
			for(let i=0; i<obj_keys.length; i++) {
				if(["id","can_reply","is_subscribed"].indexOf(obj_keys[i])==-1){
					html += '<th>' + obj_keys[i] + '</th>';
				}
			}
			html += "</tr></thead><tbody>";
			
			for(let i=0; i<obj.length; i++) {
				html += "<tr>";
				for(let j=0; j<obj_keys.length; j++) {
					if(["id","can_reply","is_subscribed"].indexOf(obj_keys[j])==-1){
						html += '<td>' + obj[i][obj_keys[j]] + '</td>';
					}
				}
				html += "</tr>";
			}
			html += "</tbody></table>";
		}	
	}else{
		warningMsg("警告","錯誤");
	}
	return html;

}


function warningMsg(title, msg) {
	$("<div/>").html(msg).dialog({
		title: title,
		draggable : true, resizable : false, autoOpen : true,
		height : "auto", width : "240", modal : true,
		buttons : [{
			text: "確定", 
			click: function() { 
				$(this).dialog("close");
			}
		}]
	});
}

$(document).on('click','th',function(){
    var table = $(this).parents('table').eq(0);
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
    this.asc = !this.asc;
    if (!this.asc){rows = rows.reverse();}
    table.children('tbody').empty().html(rows);
});
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index);
        return $.isNumeric(valA) && $.isNumeric(valB) ?
            valA - valB : valA.localeCompare(valB);
    };
}
function getCellValue(row, index){
    return $(row).children('td').eq(index).text();
}
function loading(str){
	if(!window.loading_count){
		loading_count=0;
	}
	if(!window.loading_timeout){
		loading_timeout=[];
	}
	
	if($("#loading").length==0){
		$("body").append('<div id="loading" style="display: none;padding:15px;"><div>資料讀取中，請稍後...</div></div>');
	}
	if(str!=null && str!="now"){
		if(str!="over"){
			console.log("loading_error:"+str);
		}
		loading_count--;
		
		clearTimeout(loading_timeout.shift());
		
		if(loading_count<=0){
			loading_count = 0;
			$("#loading").hide();
		}
	}else{
		loading_count++;
		if(str=="now"){
			$("#loading").show();
			loading_timeout.push (0);
		}else{
			loading_timeout.push ( 
				setTimeout(function(){
					$("#loading").show();
				},200)
			);
		}
	}
}

</script>
</body>
</html>